#pageContentContainer {
    padding-top: 60px;
    padding-bottom: 450px;
}

#colWithVerticalLine {
    border-right: thick solid #2196F3;
}

#listItemPanel {
    margin-bottom: 0.5em;
}

.list-group {
    padding-left: 10px;
}

#isFavSpan {
    display: block;
}

div[aria-required=true].v-input .v-label::after {
    content: " *";
    color: red;
}